

<!-- app.component.html -->

<router-outlet></router-outlet>
<a routerLink="/login">Go to Login Page</a>
<a routerLink="/register">Go to Registration Page</a>
<a routerLink="/notification">Go to Notification Page</a>
<a routerLink="/projectCreation">Go to Project Creation Page</a>
<a routerLink="/collaborationTools">Go to Collaboration Tools Page</a>
<a routerLink="/reportingAnalytics">Go to Reporting Analytics Page</a>
<a routerLink="/taskManagement">Go to Task Management Page</a>
<a routerLink="/timeTracking">Go to Time Tracking Page</a>
