<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName">
  </div>
  <div>
    <label>Username</label>
    <input type="text" formControlName="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" formControlName="password">
  </div>
  <button type="submit">Register</button>
</form>
